@using package_tracking_app.ViewModels
@model MainModel;


<form asp-controller="Home" asp-action="ProcessAddForm">
    <div>
        <div class="input-bottom">
            <label asp-for="@Model.AddPackageViewModel.TrackingNumber">Tracking number</label>
            <input type="text" class="form-control" id="TrackingNumber" asp-for="@Model.AddPackageViewModel.TrackingNumber" placeholder="Enter tracking number">
            <span class="red-font" asp-validation-for="@Model.AddPackageViewModel.TrackingNumber"></span>
        </div>
    </div>
    <div>
        <div class="input-bottom">
            <label asp-for="@Model.AddPackageViewModel.Carrier">Carrier</label>
            <select asp-for="@Model.AddPackageViewModel.Carrier" id="Carrier" class="form-control">
                <option selected>Select Carrier...</option>
                <option>UPS</option>
                <option>USPS</option>
                <option>shippo</option>

            </select>
            <span class="red-font" asp-validation-for="@Model.AddPackageViewModel.Carrier"></span>
        </div>
    </div>
    <div>
        <div class="input-button">
            <label asp-for="@Model.AddPackageViewModel.Description">Description</label>
            <input type="text" class="form-control" id="Description" asp-for="@Model.AddPackageViewModel.Description" placeholder="Enter a description">
            <span class="red-font" asp-validation-for="@Model.AddPackageViewModel.Description"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>