@using package_tracking_app.ViewModels
@model MainModel;


<a asp-controller="Home" asp-action="Index"> Add another package</a>
<partial name="~/Views/Shared/_AddParcelFormPartial.cshtml" />
@if (Model.PackageList.Count == 0)
{
    <p>There are no packages to track yet!</p>
}
else
{
    <a asp-controller="TrackPackages" asp-action="Delete"> Delete</a>
    <table class="table">
        <tr>
            <th></th>
            <th>
                Description
            </th>
            <th>
                Tracking Number
            </th>
            <th>
                Carrier
            </th>
        </tr>
        @foreach (Package package in Model.PackageList)
        {
            <tr>
                <td><a asp-controller="TrackPackages" asp-action="EditName" asp-route-id="@package.Id">EDIT</a></td>
                <td><a asp-controller="TrackPackages" asp-action="Detail" asp-route-id="@package.Id">@package.Description</a></td>
                <td>@package.TrackingNumber</td>
                <td>@package.Carrier</td>
            </tr>
        }
    </table>
}
