@model List<package_tracking_app.Models.Package>
@*add button that lets user add new packages*@
@*show package info. If no package, dispaly message say "There are no packages"*@
@*Add edit button*@
@*ADD DELETE button*@

@*when button is clicked, add form shows up*@


<a asp-controller="Home" asp-action="Index"> Add another package</a>


@if (Model.Count == 0)
{
    <p>There are no packages to track yet!</p>
}
else
{
    <a asp-controller="TrackPackages" asp-action="Delete"> Delete</a>
    <table class="table">
        <tr>
            <th></th>
            <th>
                Description
            </th>
            <th>
                Tracking Number
            </th>
            <th>
                Carrier
            </th>
        </tr>
        @foreach (Package package in Model)
        {
            <tr>
                <td><a asp-controller="TrackPackages" asp-action="EditName" asp-route-id="@package.Id">EDIT</a></td>
                <td><a asp-controller="TrackPackages" asp-action="Detail" asp-route-id="@package.Id">@package.Description</a></td>
                <td>@package.TrackingNumber</td>
                <td>@package.Carrier</td>
            </tr>
        }
    </table>
}
