@using package_tracking_app.ViewModels
@model MainModel;

<h1>@Model.Package.Description: @Model.Package.TrackingNumber </h1>

<table>
    <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Details</th>
        <th>Location</th>
    </tr>
    @foreach (var checkpoint in Model.TrackHistory.Checkpoints)
    {
<tr>
    <th>@checkpoint.Status</th>
    <th>@checkpoint.StatusDate</th>
    <th>@checkpoint.StatusDetails</th>
    @*<th>@checkpoint.Location.City</th>*@

</tr>
    }
</table>