@using package_tracking_app.ViewModels
@model MainModel;

    <div class="form-group col-md-5 card p-4 bg-light partial-form">
        <partial name="~/Views/Shared/_AddParcelFormPartial.cshtml" />
    </div>

        @if (Model.PackageList.Count == 0)
        {
            <p>There are no packages to track yet!</p>
        }
        else
        {
<div>
    <h1>All Parcels</h1>
    <table class="table">
        <tr>
            <th></th>
            <th>
                Description
            </th>
            <th>
                Tracking Number
            </th>
            <th>
                Carrier
            </th>
        </tr>
        @foreach (Package package in Model.PackageList)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="EditName" asp-route-id="@package.Id">EDIT</a></td>
                <td><a asp-controller="Home" asp-action="Detail" asp-route-id="@package.Id">@package.Description</a></td>
                <td>@package.TrackingNumber</td>
                <td>@package.Carrier</td>
            </tr>
        }
    </table>
    <a class="red-font" asp-controller="Home" asp-action="Delete"> Delete a package</a>
</div>

        }
